* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.container {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
}

.col-left {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.col-mid {
  display: inline-flex;
  flex-direction: column;
  flex: 4;
}

.col-right {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.item {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sub-item {
  flex: 1;
}

/*@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}*/

#column-left {
  background-color: #2a2a2a;
}

#column-middle {
  background-color: transparent;
}

#column-right {
  background-color: #2a2a2a;
}

#title {
  height: 30%;
  border-bottom: 0.07em solid #ffffff;
}

#logo {
  height: 20%;
  border-bottom: 0.07em solid #ffffff;
  justify-content: center;
  align-content: center;
}

#description {
  height: 43%;
  border-bottom: 0.07em solid #ffffff;
}

#footer {
  height: 7%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}

#ibm-small-label {
}

#image-main {
  margin:0 auto;
  justify-content: center;
}

#bow-tie {
  margin:0 auto;
  height: auto;
  width: 20%;
}

#ibm-white {
  margin:0 auto;
  height: 40%;
  width: 65%;
}

#assistant {
  text-align: center;
}
